@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
 
 

:root{
    --mainColor: #deab5f;
    --primary-color: #312e2e;
    --primaryFont:'Playfair Display', serif; 
}


button{
    padding: 10px 30px;
    background:var(--mainColor);
    cursor: pointer;
    border: none;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background: #100e0f;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;

}
li {
    display: inline;
    text-decoration: none;
    list-style: none; 
     
}

li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}
li a:hover{
    border-bottom: 2px solid var(--mainColor);
}

.header{
    background: url(images/pexels-nao-triponez-129207.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
     /* Flexbox*/
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #fff;
     position: relative;
     text-align: center;
     
}
.main-heading{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
     
 
}
.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
   margin-bottom: -40px;
}
.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--mainColor);
    transform: translateY(60px);
}
/* Our Story Start */
#our-story{
   
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}
.img{
    width: 400px;
    height: 400px;
    background: url(images/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center ;
    background-size: cover;
}
.title-style{
    display: flex;
    align-items: center;
}
.title {
font-family:var(--primaryFont) ;
font-size: 4rem;
color: #fff;
transform: translateX(-100px);
}
.line{
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px);
}
.section-content p {
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;

}
  /* Our Story Ends */
  /*  Coffe Start*/

  .coffee-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}
 .content-section p {
  max-width: 500px;
  margin-top: 20px;
  font-family: var(--primaryFont);
  color: #fff;

}
  .img-2 {
    width: 400px;
    height: 400px;

}
.title-two{
    font-size: 3rem;
    color: #fff;
    font-family: var(--primaryFont);
}
/* Coffee END */

/* Products */
.products {
margin-top: 5rem;

}
.title-three {
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
   text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card {
    border: 2px solid var(--mainColor);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}
.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-60px;
    
}
.img-one {
    background: url(images/1.png);
    background-position: center ;
    background-size: cover;
     
}
.img-two {
    background: url(images/2.png);
    background-position: center ;
    background-size: cover;
     
}.img-three {
    background: url(images/3.png);
    background-position: center ;
    background-size: cover;
     
}

.card-title{

    color:#fff;
    font-family: sans-serif;
    margin-top: 50px;
}
.card .items p {
    color:#fff;
    margin: 20px 0;
    font-family: sans-serif;

}

/* Product End */

footer{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: sans-serif;
}
footer .container {
    margin: 20px;
    max-width: 300px;
    text-align: center;


}
footer .heading-info{
    margin-bottom: 20px;
}
footer p {
    line-height: 25px;

}
span {
    color: var(--mainColor);
}
hr {
margin-bottom: 20px;
border: var(--mainColor);
width: 500px;
margin: 0 auto;

}
.para {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*PROJECT END*/
/* media responsible*/
@media only screen and (max-width:768px ){
    .main-heading, 
    .primary-heading {
      font-size: 2rem;
    }
    #our-story {
        text-align: center;
        
    }
   
    
    #our-story .title {
    transform: translateX(10px);
    font-size: 2rem;

    

    }
    #our-story .line {
        display: none;
        
    }
    .content-section{
        text-align: center;
    }
   #our-story .img-container .img p {
    width: 70%;
    text-align: center ;
    margin: 0 auto;

   }
   .coffee-container .img-container {
    margin-top: 4rem;
    width: 50%;
   }
    .img-container{
        margin-bottom: 100px;
    }
   .title {
    margin: 0 auto;
   }
   .title-two {
    margin: 0 auto;
   }
   .title-three {
    display: none;
   }
   .para{
     display: none;
   }
   footer .heading-info {
    font-size: medium;
   
    justify-content: center;
   }

}
